<!DOCTYPE html>
<html lang="en">
<head>
    {{ $title := site.Title }}
    {{ if not .IsHome }}
      {{ $title = printf "%s | %s" .Title site.Title }}
    {{ end }}
    <title>{{ $title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ .Page.Params.BaseUrl }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ .Page.Params.BaseUrl }}/css/fonts.css">
    {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

</head>

{{ block "main" . }}{{ end }}

</html>
