{{ define "main" }}

<body class="content">
<header>
    <div class="container">
        <nav class="nav-header d-flex justify-content-between">
            <a href="/" class="main-logo"><img src="/img/fonline-logo.png" alt="F-Online Logo"></a>
            <div class="nav-bg-xbootstrap">
                <div class="navbar-xbootstrap">
                    <img src="/img/icon-menu.png" height="20" alt="menu icon">
                </div>
            </div>
            <div class="nav-xbootstrap">
                <ul>
                  <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                  <li class="nav-item"><a href="/fahrschulen" class="nav-link">Fahrschulen</a></li>
                  <li class="nav-item"><a href="/faq" class="nav-link">Hilfe</a></li>
                  <li class="nav-item"><a href="/about" class="nav-link">Kontakt</a></li>
                </ul>
            </div>
            <div class="nav-socials">
                <ul>
                    <li><a href="https://www.facebook.com/fonline.at" class="nav-link"><img src="/img/icon-soc-fb.png" alt="F-Online auf Facebook"></a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<div class="page-content">

{{ .Content }}

</div>

<footer class="text-center">
    <div class="container d-inline-flex justify-content-center flex-wrap">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 text-left"><p>© F-Online.at | <a href="/about" class="">Impressum</a></p></div>
        <div class="col-xl-6 col-lg-6 col-md-12 nav-footer d-none d-lg-block">
            <nav>
                <ul class="footer-navigation d-inline-flex justify-content-center">
                    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="/fahrschulen" class="nav-link">Fahrschulen</a></li>
                    <li class="nav-item"><a href="/faq" class="nav-link">Fragen?</a></li>
                    <li class="nav-item"><a href="/about" class="nav-link">Kontakt</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 text-right">
            <a href="mailto:info@f-online.at">info@f-online.at</a>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function() {
    $('.navbar-xbootstrap').click(function(e){
        e.preventDefault();
        $('.nav-xbootstrap').toggleClass('visible');
        $('body').toggleClass('cover-bg');
    });
  });
</script>
</body>

{{ end }}
