{{ define "main" }}

<body class="content">
<header>
    <div class="container">
        <nav class="nav-header d-flex justify-content-between">
            <a href="/" class="main-logo"><img src="/img/fonline-logo.png" alt="F-Online Logo"></a>
            <div class="nav-bg-xbootstrap">
                <div class="navbar-xbootstrap">
                    <img src="/img/icon-menu.png" height="20" alt="menu icon">
                </div>
            </div>
            <div class="nav-xbootstrap">
                <ul>
                    {{ partial "menu.html" . }}
                </ul>
            </div>
            <div class="nav-socials">
                <ul>
                    <li><a href="https://www.facebook.com/fonline.at" class="nav-link"><img src="/img/icon-soc-fb.png" alt="F-Online auf Facebook"></a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<div class="page-content">

  <div class="page-information">
    <div class="article" style="min-height:400px;">
      <h2>Sackgasse</h2>
      <hr>
      <img src="/img/sackgasse.png" class="floating-image">
      <p class="unstyled">
        Du bist anscheinend irgendwo falsch abgebogen!<br />Die angeforderte Adresse wurde nicht gefunden.
      </p>
    </div>
  </div>

</div>

<footer class="text-center">
    <div class="container d-inline-flex justify-content-center flex-wrap">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 text-left"><p>© F-Online.at | <a href="/about" class="">Impressum</a></p></div>
        <div class="col-xl-6 col-lg-6 col-md-12 nav-footer d-none d-lg-block">
            <nav>
                <ul class="footer-navigation d-inline-flex justify-content-center">
                    {{ partial "menu.html" . }}
                </ul>
            </nav>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 text-right">
            <a href="mailto:info@f-online.at">info@f-online.at</a>
        </div>
    </div>
</footer>

{{ end }}
